.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-md);
  font-family: var(--font-main);
  font-weight: 300;
}

.pages {
  display: flex;
  justify-content: space-between;
  width: 182px;
}

.left,
.right {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-xs);
  transition:
    transform var(--transition-fast),
    color var(-- --transition-medium);
}

.left:hover,
.right:hover {
  transform: scale(1.1);
  color: var(--color-primary);
}
.pageButton {
  font-size: var(--font-size-lg);
  border: none;
  background: none;
  font-family: inherit;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition:
    color var(--transition-slow),
    background-color var(--transition-slow),
    font-weight var(--transition-slow);
}
.active {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;
  cursor: auto;
}
.pageButton:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;
}
