.container {
	display: flex;
	flex-wrap: wrap;
	gap: 26px;
	max-width: 950px;
	margin: 0 auto;
	margin-top: 40px;
	height: 1054px;
	overflow-y: auto;
	justify-content: center;
}

.category {
	position: relative;
	display: flex;
	cursor: pointer;
}
.category:hover {
	box-shadow: 0px 2px 5px rgb(0, 0, 0);
}
.imageCategory {
	width: 285px;
	height: 244px;
}

.textCategory {
	position: absolute;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	top: 85%;
	color: white;
	left: 10px;
	z-index: 10;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}

.placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f0f0f0;
	color: #999;
	height: 150px;
	font-style: italic;
}
