.logo {
  position: relative;
  display: flex;
  z-index: 1;
}

.logoSvg {
  position: relative;
  display: flex;
  gap: var(--space-xxs);
  z-index: 1;
}
.orangeCircl {
  position: absolute;
  top: -10px;
  left: 23px;
  transition: transform var(--transition-long);
  z-index: 1;
}
.logo:hover .orangeCircl {
  transform: rotate(360deg);
}
.gallery {
  position: absolute;
  color: var(--color-white);
  font-family: var(--font-alumni);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: var(--font-size-xl);
  left: 133px;
  top: 13px;
  color: var(--color-primary);
  z-index: 1;
}
