.sorting {
  margin: var(--space-lg) 0;
  display: flex;
  gap: var(--space-sm);
  justify-content: flex-end;
  align-items: center;
}
.sorting p {
  font-family: var(--font-main);
  font-size: var(--font-size-md);
}
.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--color-gray);
  font-family: 'Montserrat';
  font-size: var(--font-size-base);
  border-radius: var(--radius-lg);
  padding: var(--space-sm) 0;
  padding-left: var(--space-md);
  padding-right: var(--space-xxl);
}

.selectWrapper {
  position: relative;
}
.selectWrapper:focus-within .arrow {
  color: var(--color-black);
}
.select:focus {
  color: var(--color-black);
}
.arrow {
  position: absolute;
  top: 16px;
  right: 20px;
  color: var(--color-gray);
  pointer-events: none;
  transition: transform var(--transition-medium);
}
.rotated {
  transform: rotate(180deg);
  transition: transform var(--transition-medium);
}

@media (max-width: 927px) {
  .sorting {
    justify-content: center;
  }
}
