.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-gradient);
  width: 100%;
  padding: var(--space-md) 0 var(--space-sm) 0;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: var(--space-lg) 0;
  position: relative;
  transition: all var(--transition-medium);
  position: relative;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 24px;
  gap: var(--space-xs);
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
}

.burger span {
  width: 30px;
  height: 3px;
  background-color: var(--color-white);
  border-radius: var(--radius-sm);
  transition: all var(--transition-medium);
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.pages {
  display: flex;
  gap: var(--space-lg);
  font-size: var(--font-size-lg-alt);
  font-family: var(--font-heading);
  transition: all var(--transition-medium);
}

.category,
.images,
.favourites {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  color: var(--color-white);
  cursor: pointer;
}

.active {
  color: var(--color-primary);
}

@media (max-width: 893px) {
  .info {
    justify-content: space-between;
    padding: var(--space-lg) var(--space-md);
  }

  .burger {
    display: flex;
  }

  .pages {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: var(--space-md);
    gap: var(--space-md);
    transform: translateY(-20px);
    opacity: 0;
    transition: all var(--transition-medium);
    position: absolute;
    top: var(--space-xxl);
    left: 0;
    right: 0;
    background: var(--color-gradient);
    padding-bottom: var(--space-md);
  }

  .pages.show {
    display: flex;
    transform: translateY(0);
    opacity: 1;
  }

  .header.open .info {
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    padding: var(--space-md) 0;
  }

  .header.open .burger {
    position: absolute;
    top: var(--space-lg-alt);
    right: var(--space-sm);
  }
}
@media (max-width: 442px) {
  .header.open .burger {
    top: 0;
  }
}
