.footer {
  background: var(--color-gradient);
  width: 100%;
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: var(--font-size-lg);
  color: var(--color-white-muted);
}
.container {
  display: flex;
  justify-content: space-around;
  padding-top: var(--space-xxl);
}
.info,
.company,
.help,
.faq,
.resources {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
.text {
  max-width: 248px;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
  text-align: justify;
}
.social {
  display: flex;
  margin-bottom: var(--space-lg);
  gap: var(--space-sm);
}
.twitter,
.facebook,
.instagram,
.github {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  padding: var(--space-xs);
  border-radius: var(--radius-full);
  width: 28px;
  height: 28px;
  color: var(--color-black);
  cursor: pointer;
  transition:
    color var(--transition-fast),
    background-color var(--transition-medium);
}
.twitter:hover,
.facebook:hover,
.instagram:hover,
.github:hover {
  color: white;
  background-color: var(--color-light-primary);
}
.head {
  color: var(--color-light-primary);
}

.modsenGallery {
  margin-left: var(--space-xxl);
  padding-bottom: var(--space-xl);
}

.instagram {
  position: relative;
}
@media (max-width: 1030px) {
  .company a,
  .help a,
  .faq a,
  .resources a {
    display: none;
    margin-bottom: var(--space-md);
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info,
  .company,
  .help,
  .faq,
  .resources {
    margin-bottom: var(--space-xl);
    font-size: var(--font-size-lg);
  }
  .modsenGallery {
    font-size: var(--font-size-base);
    margin-left: var(--space-md);
  }
}
