.description {
  position: absolute;
  display: flex;
  align-items: center;
  top: 75%;
  background-color: var(--color-white);
  width: 100%;
  height: 58.19px;
  border: 1px solid var(--color-border);
  justify-content: space-between;
  padding-right: var(--space-sm);
  overflow: hidden;
}
.description p {
  font-family: var(--font-main);
  margin-left: var(--space-sm);
  font-size: var(--font-size-md);

  font-weight: 500;
  max-width: 200px;
}
.full p {
  max-width: 400px;
}
.save {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-gray);
  width: 39px;
  height: 39px;
  border-radius: var(--radius-full);
  color: var(--color-primary);
  cursor: pointer;
}

.filled svg path {
  fill: var(--color-primary);
}

.save:hover svg path {
  fill: var(--color-primary);
}

.filled:hover svg path {
  fill: none;
}
