* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	transition: color 0.3s ease;
}
a:active {
	color: rgba(255, 255, 255, 0.6);
}
a:hover {
	color: rgba(224, 164, 73, 1);
}
