* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	transition: color 0.3s ease;
}
a:active {
	color: rgba(255, 255, 255, 0.6);
}
a:hover {
	color: rgba(224, 164, 73, 1);
}
.notFound {
	margin-top: 122px;
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 700;
	font-size: 64px;
	max-width: 684px;
	text-align: center;
}
.notFound span {
	color: rgba(241, 121, 0, 1);
}
